* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

.colorpicker {
  display: flex;
  justify-content: center;
  padding: 150px;
}

.colorpicker button {
  padding: 10px 30px;
  margin-right: 50px;
  font-family: sans-serif;
  font-size: medium;
  font-weight: 500;
  text-transform: uppercase;
  background-color: lightsteelblue;
  border-radius: 6;
  border-color: transparent;
  cursor: pointer;
}

.colorpicker button:last-child {
  margin-right: 0;
}

.timer {
  display: flex;
}
.field {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.field:first-child {
  margin-left: 0px;
}

.field:last-child {
  margin-right: 0px;
}

.value {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large;
}

.label {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-transform: uppercase;
  font-size: small;
  line-height: 2;
}
